body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/flagmaz.jpg);
   
}



.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    
}

.team {
    margin: 10px;
    text-align: center;
}

.team img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.team h3 {
    color: white;
    margin-top: 10px;
}

.team-info {
    display: none;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 950px;
}

.team-info h2 {
    margin-top: 0;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-container {
    flex: 1;
    margin-right: 20px;
}

.results-container {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.results-container ul {
    list-style-type: none;
    padding: 0;
}

.results-container ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.team-container h3{
    color: black;
}
